.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  background-color: var(--background);
  --background: oklch(0.18 0 0);
  --color: oklch(0.44 0.23 300.17);
  &[data-phase="1"] {
    --background: oklch(0.72 0.18 346.05);
    --color: oklch(0.96 0.19 112.95);
  }
  &[data-phase="2"] {
    --background: oklch(0.96 0.19 112.95);
    --color: oklch(0.18 0 0);
  }
  &[data-phase="3"] {
    --background: oklch(0.44 0.23 300.17);
    --color: oklch(0.96 0.19 112.95);
  }

  &-counter {
    font-family: latin, Helvetica, Arial, sans-serif;
    font-size: 17rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.05em;
    font-variant: tabular-nums;
    color: var(--color);
    padding-bottom: 6rem;
    font-variant: tabular-nums;

    span {
      display: inline-block;
      width: 1.02ch;
    }

    span:nth-of-type(1) {
      margin-left: -0.4ch;
    }

    span:nth-of-type(1)[data-value="0"] {
      visibility: hidden;
      margin-left: -1.02ch;
    }

    span[data-value="1"] {
      padding-left: 0.2ch;
      text-align: right;
    }

    span[data-value="1"]:has(+ [data-value="1"]) {
      text-align: right;
    }
  }

  &-info {
    position: fixed;
    bottom: 5rem;
    color: var(--color);
    font-family: latin, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    left: 0;
    right: 0;
  }

  &-year {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;

    span {
      font-family: latin, Helvetica, Arial, sans-serif;
      font-size: 72rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.05em;
      font-variant: tabular-nums;
      color: var(--color);
      padding-bottom: 6rem;
      font-variant: tabular-nums;
      display: block;
      clip-path: inset(13% 0% 22% 0%);
      position: relative;
      margin: -0.19em 0;
      &:nth-of-type(1) {
        background-color: oklch(0.75 0.17 55.62);
        color: oklch(0.18 0 0);
        z-index: 1;
      }
      &:nth-of-type(2) {
        background-color: oklch(0.44 0.23 300.17);
        color: oklch(0.96 0.19 112.95);
        z-index: 2;
      }
      &:nth-of-type(3) {
        background-color: oklch(0.72 0.18 346.05);
        color: oklch(0.18 0 0);
        z-index: 3;
      }
    }
  }

  &-tag {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    z-index: 2;

    span {
      font-family: latin, Helvetica, Arial, sans-serif;
      font-size: 16.5rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.075em;
      font-variant: tabular-nums;
      color: var(--color);
      padding-bottom: 6rem;
      font-variant: tabular-nums;
      display: block;
      clip-path: inset(10% 0% 36% 0%);
      position: relative;
      margin: -0.33em 0;
      &:nth-of-type(1) {
        background-color: oklch(0.75 0.17 55.62);
        color: oklch(0.18 0 0);
      }
      &:nth-of-type(2) {
        background-color: oklch(0.44 0.23 300.17);
        color: oklch(0.96 0.19 112.95);
      }
      &:nth-of-type(3) {
        background-color: oklch(0.72 0.18 346.05);
        color: oklch(0.18 0 0);
      }
      &:nth-of-type(4) {
        background-color: oklch(0.18 0 0);
        color: oklch(0.96 0.19 112.95);
      }
      &:nth-of-type(5) {
        background-color: oklch(0.77 0.21 148.9);
        color: oklch(0.18 0 0);
      }
      &:nth-of-type(6) {
        background-color: oklch(0.75 0.17 55.62);
        color: oklch(0.18 0 0);
      }
      &:nth-of-type(7) {
        background-color: oklch(0.44 0.23 300.17);
        color: oklch(0.96 0.19 112.95);
      }
      &:nth-of-type(8) {
        background-color: oklch(0.72 0.18 346.05);
        color: oklch(0.18 0 0);
      }
      &:nth-of-type(9) {
        background-color: oklch(0.18 0 0);
        color: oklch(0.96 0.19 112.95);
      }
      &:nth-of-type(10) {
        background-color: oklch(0.77 0.21 148.9);
        color: oklch(0.18 0 0);
      }
      &:nth-of-type(11) {
        background-color: oklch(0.75 0.17 55.62);
        color: oklch(0.18 0 0);
      }
    }
  }
}
